<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo List</title>
    <link href="../static/css/style.css" rel="stylesheet">    
</head>
<body>
  <nav>
    <h1>Todo List</h1>
    <ul>
      <li class="navlink"><a href="{{ url_for('main.index') }}">Home</a></li>
      <li class="navlink"><a href="{{ url_for('main.all_tasks') }}">View Tasks</a></li>
      <li class="navlink"><a href="{{ url_for('main.create_task') }}">New Task</a></li>
    </ul>
  </nav>
  <main>
    {% block main %}
    {% endblock %}
    <script src="{{ url_for('static', filename='scripts/tagging.js') }}"></script>
  </main>
</body>
</html>
