{% extends 'base.html' %}
{% block main %}
<h1>{{ task.title }}</h1>
<p>{{ task.description }}</p>
<p><small>Created at: {{ task.created_at}}</p>
<p>Tags: {{ task.tags | map(attribute='content') | join(', ') }}</p>

<div class="task-actions">
    <a href="{{ url_for('main.edit_task', task_id=task.id) }}" class="btn">Edit</a>
    <form method="post" action="{{ url_for('main.delete_task', task_id=task.id) }}">
        <button type="submit" class="btn">Delete</button>
    </form>
</div>
{% endblock %}